Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data. 
This task will be done in following steps
: 
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field. 
3. Then click the search button. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")

driver.get('https://www.naukri.com/')

search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")

search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

url1="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

driver.get(url1)


job_titles=[]
company_names=[]
locations_list=[]
experiences_list=[]


titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:4]


companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:4]


locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:4]

for i in locations_tags:
    locations=i.text
    locations_list.append(locations)
locations_list[0:4]


experiences_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experiences_tags[0:4]

for i in experiences_tags:
    experience=i.text
    experiences_list.append(experience)
experiences_list[0:4]


(len(job_titles),len(company_names),len(locations_list),len(experiences_list))


jobs=pd.DataFrame({})
jobs['Job_title']=job_titles[0:10]
jobs['Company_name']=company_names[0:10]
jobs['Job_location']=locations_list[0:10]
jobs['Experience_required']=experiences_list[0:10]

jobs

<ipython-input-2-8a803689ab46>:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")
<ipython-input-2-8a803689ab46>:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job=driver.find_element_by_id('qsb-keyword-sugg')
<ipython-input-2-8a803689ab46>:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
<ipython-input-2-8a803689ab46>:15: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
<ipython-input-2-8a803689ab46>:29: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
<ipython-input-2-8a803689ab46>:38: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
<ipython-input-2-8a803689ab46>:47: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
<ipython-input-2-8a803689ab46>:56: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experiences_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

,Job_title,Company_name,Job_location,Experience_required
0,Senior Business Data Analyst,Tech Data Advanced Solutions India Pvt Ltd,"Bangalore/Bengaluru, Mumbai (All Areas)",3-8 Yrs
1,Data Analyst - Flipkart Analytics,Flipkart,Bangalore/Bengaluru(Bellandur),0-3 Yrs
2,Business Data Analyst - Database Design/Mining,AugmatrixGo,Bangalore/Bengaluru,2-5 Yrs
3,Urgent Openings For Data Analyst / Business An...,Flipkart,Bangalore/Bengaluru,1-6 Yrs
4,Data Analyst,Rupeek Fintech Pvt Ltd,Bangalore/Bengaluru,0-2 Yrs
5,Business Data Analyst(BigId) - Capco - Bangalore,Capco Technologies Pvt Ltd,Bangalore/Bengaluru,3-8 Yrs
6,Data Analyst,CINDREBAY SCHOOL OF FASHION & INTERIOR DESIGN,"Kochi/Cochin, Cannanore/Kannur, Nagpur, Calicu...",1-4 Yrs
7,Senior Data Analyst,Pioneer Business Solutions,Bangalore/Bengaluru,6-11 Yrs
8,Senior Data Analyst,Advanced Computer Software,Bangalore/Bengaluru,3-5 Yrs
9,Sr Data Analyst,Pioneer Business Solutions,Bangalore/Bengaluru,3-8 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. 
This task will be done in following steps: 
1. First get the webpage https://www.naukri.com/ 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field. 
3. Then click the search button. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data.

In [4]:
import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")

driver.get('https://www.naukri.com/')

search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore/Bengaluru")



url2="https://www.naukri.com/data-scientist-jobs-in-bangalore-bengaluru?k=data%20scientist&l=bangalore%2Fbengaluru"

driver.get(url2)

job_titles=[]
company_names=[]
locations_list=[]


titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:4]

companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]


for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:4]


locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:4]

for i in locations_tags:
    locations=i.text
    locations_list.append(locations)
locations_list[0:4]

(len(job_titles),len(company_names),len(locations_list))

jobs=pd.DataFrame({})
jobs['job_title']=job_titles[0:10]
jobs['company_name']=company_names[0:10]
jobs['job_location']=locations_list[0:10]

jobs

<ipython-input-4-0418291fbb72>:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")
<ipython-input-4-0418291fbb72>:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job=driver.find_element_by_id('qsb-keyword-sugg')
<ipython-input-4-0418291fbb72>:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
<ipython-input-4-0418291fbb72>:25: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
<ipython-input-4-0418291fbb72>:33: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
<ipython-input-4-0418291fbb72>:43: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

,job_title,company_name,job_location
0,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bangalore/Bengaluru
1,Senior Data Scientist,Hitachi Ltd.,Bangalore/Bengaluru
2,Forecasting Analyst/ Data Scientist (US Client),Concentrix Daksh Services,"Gurgaon/Gurugram, Bangalore/Bengaluru"
3,Data Scientist,Toppr,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."
4,Process Innovation Analyst - APAC/Data Scienti...,Bayer,"Bangalore/Bengaluru, Hyderabad"
5,Data Scientist,Hitachi Ltd.,Bangalore/Bengaluru
6,Data Scientist,Mobiotics IT Solution Pvt Ltd,Bangalore/Bengaluru(HSR Layout)
7,Data Scientist,Hitachi Ltd.,Bangalore/Bengaluru
8,Senior Data Scientist,Bigshyft Hiring for PayTM (One97 Communications),Bangalore/Bengaluru
9,Data Scientist: Artificial Intelligence,IBM India Pvt. Limited,Bangalore/Bengaluru

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter. 
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs 
The task will be done as shown in the below steps: 
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field. 
3. Then click the search button. 
4. Then apply the location filter and salary filter by checking the respective boxes 
5. Then scrape the data for the first 10 jobs results you get. 
6. Finally create a dataframe of the scraped data.

In [12]:
import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")

driver.get('https://www.naukri.com/')


search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")

search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Delhi")

search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

#apply filter for location
select_location = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p/span[1]')
select_location.click()

#apply filter for salary
select_salary = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
select_salary.click()

<ipython-input-12-0e77b7692ea7>:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")
<ipython-input-12-0e77b7692ea7>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job=driver.find_element_by_id('qsb-keyword-sugg')
<ipython-input-12-0e77b7692ea7>:13: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
<ipython-input-12-0e77b7692ea7>:16: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [20]:
url3="https://www.naukri.com/data-scientist-jobs-in-delhi?k=data%20scientist&l=delhi&cityTypeGid=9508&ctcFilter=3to6"

driver.get(url3)

job_titles=[]
company_names=[]
locations_list=[]


titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:4]

companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]


for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:4]


locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:4]

for i in locations_tags:
    locations=i.text
    locations_list.append(locations)
locations_list[0:4]

(len(job_titles),len(company_names),len(locations_list))

jobs=pd.DataFrame({})
jobs['titles']=job_titles[0:10]
jobs['company']=company_names[0:10]
jobs['location']=locations_list[0:10]

jobs

<ipython-input-20-795f201b3050>:10: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
<ipython-input-20-795f201b3050>:18: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
<ipython-input-20-795f201b3050>:28: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

,titles,company,location
0,Data Scientist - Insurance,Huquo Consulting Pvt. Ltd,"Noida, Gurgaon/Gurugram"
1,Job Opportunity || Data Scientist || HCL Techn...,HCL Technologies,Delhi / NCR
2,Data Scientist,ThinkBumblebee Analytics Pvt. Ltd.,"Pune, Bangalore/Bengaluru, Delhi / NCR"
3,Data Scientist III-2,Concentrix Daksh Services,Gurgaon/Gurugram
4,Data Scientist,MoMagic Technologies Pvt. Ltd.,Noida(Sector-126 Noida)
5,Data Scientist,MoMagic Technologies Pvt. Ltd.,Noida(Sector-126 Noida)
6,Urgent Hiring || Data Scientist || Delhi,Shriram Automall India Limited,Delhi / NCR
7,Data Scientist,Optum Global Solutions (India) Private Limited,"Noida, Gurgaon/Gurugram"
8,Data Scientist,Think i,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,..."
9,Project Manager | Team Leader | Senior Data Sc...,Tidyquant (OPC) Private Limited,Remote

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 
1. Brand 
2. Product Description 
3. Price 
The attributes which you have to scrape is ticked marked in the below image. 
To scrape the data you have to go through following steps: 
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon 
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data as usual.

In [12]:
# import libraries
import numpy as np
from time import sleep
from random import randint
import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")
driver.get('https://www.flipkart.com/')

<ipython-input-12-24a9bb0572d6>:9: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")

In [15]:
target=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
target.click()

target.send_keys("sunglasses")

search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

<ipython-input-15-bbd212b8e04a>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  target=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
<ipython-input-15-bbd212b8e04a>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')

In [22]:
url4="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

driver.get(url4)

brand_titles=[]
product_description=[]
price=[]

brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:4]

for i in brand_tags:
    brand=i.text
    brand_titles.append(brand)
brand_titles[0:4]

product_description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
product_description_tags[0:4]

for i in product_description_tags:
    product_des=i.text
    product_description.append(product_des)
product_description[0:4]

price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:4]

for i in price_tags:
    prc=i.text
    price.append(prc)
price[0:4]

(len(brand_titles),len(product_description),len(price))

products=pd.DataFrame({})
products['Brand']=brand_titles[0:39]
products['Product_Description']=product_description[0:39]
products['Price']=price[0:39]
products

<ipython-input-22-68ff543bc5c1>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
<ipython-input-22-68ff543bc5c1>:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  product_description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
<ipython-input-22-68ff543bc5c1>:25: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

,Brand,Product_Description,Price
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹999
1,VINCENT CHASE,"Polarized, UV Protection Wayfarer Sunglasses (57)",₹799
2,SRPM,UV Protection Wayfarer Sunglasses (56),₹188
3,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹276
4,Elligator,UV Protection Round Sunglasses (54),₹248
5,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639
6,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹177
7,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...","₹1,415"
8,PIRASO,UV Protection Aviator Sunglasses (54),₹200
9,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹189
10,kingsunglasses,UV Protection Round Sunglasses (54),₹189
11,Ar creation,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299
12,kingsunglasses,UV Protection Aviator Sunglasses (54),₹259
13,PIRASO,UV Protection Aviator Sunglasses (57),₹187
14,GANSTA,"Polarized, UV Protection Aviator Sunglasses (58)",₹269
15,VINCENT CHASE,UV Protection Retro Square Sunglasses (Free Size),₹999
16,PHENOMENAL,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹329
17,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),₹259
18,New Specs,"Polarized, UV Protection Wayfarer Sunglasses (57)",₹259
19,VINCENT CHASE,"Mirrored, UV Protection, Gradient Round Sungla...",₹999
20,hipe,Polarized Round Sunglasses (48),₹189
21,Rich Club,"Mirrored, UV Protection, Riding Glasses, Other...",₹189
22,New Specs,"Polarized, UV Protection Wayfarer Sunglasses (53)",₹255
23,VINCENT CHASE,UV Protection Aviator Sunglasses (54),"₹1,533"
24,PIRASO,UV Protection Retro Square Sunglasses (Free Size),₹187
25,ROZZETTA CRAFT,Mirrored Round Sunglasses (Free Size),₹499
26,elegante,"Polarized, UV Protection Wayfarer Sunglasses (...",₹340
27,VINCENT CHASE,UV Protection Round Sunglasses (55),₹799
28,Elligator,"UV Protection, Mirrored Retro Square Sunglasse...",₹239
29,PHENOMENAL,"UV Protection, Gradient, Mirrored, Riding Glas...",₹311
30,hipe,Others Retro Square Sunglasses (Free Size),₹209
31,VILLAIN,Mirrored Aviator Sunglasses (55),₹549
32,ROYAL SON,UV Protection Rectangular Sunglasses (55),₹359
33,kingsunglasses,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹259
34,SUNBEE,UV Protection Aviator Sunglasses (Free Size),₹215
35,VINCENT CHASE,UV Protection Wayfarer Sunglasses (Free Size),₹999
36,Fastrack,UV Protection Wayfarer Sunglasses (55),₹759
37,HIPPON,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹231
38,Fastrack,UV Protection Aviator Sunglasses (53),₹509

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace

When you will open the above link you will reach to the below shown webpage .

As shown in the above page you have to scrape the tick marked attributes. These are:

Rating
Review_summary
Full review
You have to scrape this data for first 100 reviews.

In [24]:
import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")
driver.get('https://www.flipkart.com/')

url5="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"

driver.get(url5)

rating=[]
review_summary=[]
full_review=[]

ratings_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
ratings_tags[0:4]

for i in ratings_tags:
    rate=i.text
    rating.append(rate)
rating[0:4]

import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")
driver.get('https://www.flipkart.com/')

url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"

driver.get(url)

rating=[]
review_summary=[]
full_review=[]

ratings_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
ratings_tags[0:4]

for i in ratings_tags:
    rate=i.text
    rating.append(rate)
rating[0:4]

review_summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
review_summary_tags[0:4]

for i in review_summary_tags:
    review=i.text
    review_summary.append(review)
review_summary[0:4]

full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review_tags[0:4]

for i in full_review_tags:
    f_review=i.text
    full_review.append(f_review)
full_review[0:4]

(len(rating),len(review_summary),len(full_review))

reviews=pd.DataFrame({})
reviews['Rating']=rating[0:10]
reviews['Review_summary']=review_summary[0:10]
reviews['Full_review']=full_review[0:10]

reviews

<ipython-input-24-08fa80817c0e>:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")
<ipython-input-24-08fa80817c0e>:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ratings_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
<ipython-input-24-08fa80817c0e>:28: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")
<ipython-input-24-08fa80817c0e>:39: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ratings_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
<ipython-input-24-08fa80817c0e>:47: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  review_summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
<ipython-input-24-08fa80817c0e>:55: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Best in the market!,Great iPhone very snappy experience as apple k...
5,5,Fabulous!,This is my first iOS phone. I am very happy wi...
6,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
7,4,Good choice,So far it’s been an AMAZING experience coming ...
8,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
9,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field. 
You have to scrape 4 attributes of each sneaker: 
1. Brand 
2. Product Description 
3. Price 

As shown in the below image, you have to scrape the tick marked attributes.

In [29]:
import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")
driver.get('https://www.flipkart.com/')

<ipython-input-29-cff4539b607a>:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")

In [30]:
search=driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.click()

search.send_keys("sneakers")

search_btn=driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

<ipython-input-30-fac2bae40529>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
<ipython-input-30-fac2bae40529>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')

In [31]:
brands=[]
product_descriptions=[]
price=[]

brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:4]

for i in brand_tags:
    brand=i.text
    brands.append(brand)
brands[0:4]

product_description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
product_description_tags[0:4]

for i in product_description_tags:
    product_description=i.text
    product_descriptions.append(product_description)
product_descriptions[0:4]

price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:4]

for i in price_tags:
    prc=i.text
    price.append(prc)
price[0:4]

(len(brands),len(product_descriptions),len(price))

sneakers=pd.DataFrame({})
sneakers['Brand']=brands[0:30]
sneakers['Product_Description']=product_descriptions[0:30]
sneakers['Price']=price[0:30]
sneakers

<ipython-input-31-d378b73e86a4>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
<ipython-input-31-d378b73e86a4>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  product_description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
<ipython-input-31-d378b73e86a4>:21: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

            Brand                                Product_Description Price
0         Numenzo                                   Sneakers For Men  ₹479
1       SCATCHITE                          Sneakers Sneakers For Men  ₹398
2        CALCADOS  Casual , Partywear Sneakers Shoes For Men's An...  ₹899
3      D-SNEAKERZ                                   Sneakers For Men  ₹348
4        Magnolia     Numenzo Black Sneaker For Men Sneakers For Men  ₹398
5        Kreverse  Skypy-31 Walking Shoes,Training Shoes,Sneakers...  ₹199
6         Numenzo  Modern & Trendy Collection Combo Pack of 02 Sh...  ₹499
7           ASIAN     Casual Sneakers Shoes For Men Sneakers For Men  ₹399
8          BRUTON              Sports Running Shoes Sneakers For Men  ₹474
9    Robbie jones       White Boots || High Tops || Sneakers For Men  ₹399
10          BIRDE                                   Sneakers For Men  ₹299
11       FOOTGRAB                                   Sneakers For Men  ₹649
12        Wlinzak  Super Stylish & Trendy Combo Pack of 02 Pairs ...  ₹499
13       PACIFIER  Synthetic Leather Casual Partywear Wedding Sne...  ₹499
14          Arohi  Casual Sneakers White Shoes For Men And Boys S...  ₹458
15         Chevit                                   Sneakers For Men  ₹699
16         T-ROCK  Mesh Sports/Walking Shoes/Outdoor Ultra Lightw...  ₹399
17         Labbin                          Series 7 Sneakers For Men  ₹399
18       Kreverse  Luxury Fashionable Breathable Casual Sneakers ...  ₹245
19          Clymb  Fashion Outdoor Canvas Casual Light Weight Lac...  ₹259
20         Kraasa                Men White Sneakers Sneakers For Men  ₹499
21            HOC                                   Sneakers For Men  ₹449
22  RODDICK SHOES                                   Sneakers For Men  ₹474
23          SPARX                                   Sneakers For Men  ₹636
24   Robbie jones     White Sneaker For Men's/Boy's Sneakers For Men  ₹499
25   Robbie jones                          Shark-41 Sneakers For Men  ₹499
26   Robbie jones  Combo Pack Of 2 Latest Stylish Casual Shoes fo...  ₹499
27     Shoes Bank  Perfect Sports Shoes for Running Training Hiki...  ₹345
28         Kraasa                                   Sneakers For Men  ₹499
29         BRUTON                                   Sneakers For Men  ₹592

Q7: Go to the link - https://www.myntra.com/shoes

Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [32]:
import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")
driver.get('https://www.myntra.com/shoes/')

<ipython-input-32-d4d484a40e78>:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")

In [33]:
#filter for price range
price_range=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_range.click()


#filter for colour
shoes_color=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
shoes_color.click()

<ipython-input-33-81de3ef0132c>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  price_range=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
<ipython-input-33-81de3ef0132c>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  shoes_color=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')

In [34]:
brands=[]
shoe_descriptions=[]
price=[]

brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
brand_tags[0:4]

for i in brand_tags:
    brand=i.text
    brands.append(brand)
brands[0:4]

shoe_description_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
shoe_description_tags[0:4]

for i in shoe_description_tags:
    shoe_description=i.text
    shoe_descriptions.append(shoe_description)
shoe_descriptions[0:4]

price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")
price_tags[0:4]

for i in price_tags:
    prc=i.text
    price.append(prc)
price[0:4]

(len(brands),len(shoe_descriptions),len(price))

shoes=pd.DataFrame({})
shoes['Brand']=brands[0:50]
shoes['Shoe_Description']=shoe_descriptions[0:50]
shoes['Price']=price[0:50]
shoes

<ipython-input-34-18fd3ef25c4b>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
<ipython-input-34-18fd3ef25c4b>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  shoe_description_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
<ipython-input-34-18fd3ef25c4b>:21: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")

,Brand,Shoe_Description,Price
0,Nike,Men Zoom Span 4 Running Shoes,Rs. 7195
1,Nike,Men FLIGHT LEGACY Sneakers,Rs. 7995
2,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8099Rs. 8999(10% OFF)
3,Puma,Men Deviate Nitro Running Shoe,Rs. 11249Rs. 14999(25% OFF)
4,Calvin Klein,Men Mid-Top Runner Sneakers,Rs. 8249Rs. 10999(25% OFF)
5,Nike,Men BlazerLow '77 Sneakers,Rs. 7195
6,Hush Puppies,Men Formal Derbys,Rs. 8999Rs. 9999(10% OFF)
7,Calvin Klein,Men Textured Leather Sneaker,Rs. 9999
8,Puma,Men Running Shoes,Rs. 8449Rs. 12999(35% OFF)
9,Puma,Men Velocity Nitro Running,Rs. 9349Rs. 10999(15% OFF)
10,ASICS,Men Black Running Sports Shoes,Rs. 7999
11,Calvin Klein,Men Solid Low Top LTH Sneakers,Rs. 8999
12,Puma,Unisex RS-Z BP Sneakers,Rs. 7499Rs. 9999(25% OFF)
13,Hush Puppies,Men Leather Slip-On Sneakers,Rs. 7999Rs. 9999(20% OFF)
14,Calvin Klein,Men Solid Mid-Top Sneakers,Rs. 10599
15,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 8999Rs. 9999(10% OFF)
16,Puma,Women Magnify Nitro Shoes,Rs. 9099Rs. 12999(30% OFF)
17,ASICS,Men Running Shoes,Rs. 7999
18,Calvin Klein,Men UV MONO Leather Sneakers,Rs. 8999
19,Bugatti,Men Walking Shoes,Rs. 8999
20,UNDER ARMOUR,Women Charged Vantage ClrShft,Rs. 7999
21,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999Rs. 9999(10% OFF)
22,Clarks,Men Suede Derbys,Rs. 8999
23,Calvin Klein,Men Mid-Top Runner Sneakers,Rs. 8249Rs. 10999(25% OFF)
24,Saint G,Men Mid-Top Chelsea Boots,Rs. 10900
25,Clarks,Men Solid Leather Formal Loafers,Rs. 7999
26,DAVINCHI,Ustraa black,Rs. 8990
27,Saint G,Women Leather Heeled Boots,Rs. 13900
28,Puma,Men Magnify Nitro Running,Rs. 9099Rs. 12999( 30 % OFF)
29,UNDER ARMOUR,Women Charged Bandit 6 Running,Rs. 8999
30,Geox,Men Leather Flat Boots,Rs. 11999
31,Ruosh,Men Solid Leather Formal Oxfords,Rs. 13490
32,Calvin Klein,Men Solid Leather Sneakers,Rs. 9999
33,Bugatti,Men Leather Flat Boots,Rs. 8999
34,Tommy Hilfiger,Women Leather Block Pumps,Rs. 7999
35,J.FONTINI,Men Black Leather Loafers,Rs. 8490
36,ASICS,Men Colourblocked PU Sneakers,Rs. 9999
37,ASICS,Skycourt Sneakers,Rs. 7999
38,Puma,Unisex Textured Sneakers,Rs. 8499Rs. 9999(15% OFF)
39,Clarks,Men Solid Formal Leather Derbys,Rs. 9999
40,Geox,Men Leather Formal Slip-Ons,Rs. 8999
41,Hush Puppies,Men Solid Formal Slip-Ons,Rs. 8999Rs. 9999(10% OFF)
42,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
43,Ruosh,Men Textured Derbys,Rs. 7192Rs. 8990(20% OFF)
44,DAVINCHI,Men Textured Formal Leather Oxfords,Rs. 7990
45,Pavers England,Men Textured Leather Formal Derbys,Rs. 8999
46,Saint G,Women Leather Heeled Boots,Rs. 11000
47,Saint G,Leather Kitten Heeled Boots with Buckles,Rs. 10900
48,Ruosh,Men Formal Leather Brogues,Rs. 7490
49,Bugatti,Leather Block Heeled Boots,Rs. 9999

Q8: Go to webpage https://www.amazon.in/ 

Enter “Laptop” in the search field and then click the search icon. 

Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 
1. Title 
2. Ratings 
3. Price 

As shown in the below image as the tick marked attributes.

In [35]:
import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")
driver.get('https://www.amazon.in/')

<ipython-input-35-a331149f5637>:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")

In [37]:
search=driver.find_element_by_xpath('//*[@id="twotabsearchtextbox"]')
search.click()

search.send_keys("Laptop")

#search for laptop

search_btn=driver.find_element_by_xpath('//*[@id="nav-search-submit-button"]')
search_btn.click()

<ipython-input-37-6b309b67aa54>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_xpath('//*[@id="twotabsearchtextbox"]')
<ipython-input-37-6b309b67aa54>:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath('//*[@id="nav-search-submit-button"]')

In [38]:
#filter for CPU Type  “Intel Core i7” 

i7=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')
i7.click()

#Here we skipped "Intel Core i9" filter only applied "Intel Core i7"

<ipython-input-38-ce27ef845b58>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  i7=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')

In [39]:
url="https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&qid=1636879490&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_9"

driver.get(url)

In [41]:
titles=[]
ratings=[]
price=[]

title_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
title_tags[0:4]

for i in title_tags:
    title=i.text
    titles.append(title)
titles[0:4]

<ipython-input-41-9c7937521f4e>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")

['Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'HP Envy Intel 11th Gen Core i7 Processor 13.3 inches FHD Touchscreen Gaming Laptop (16GB/1TB SSD/Windows 10/NVIDIA MX450 2GB/Natural Silver/1.3 kg), 13-ba1018TX',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, GeForce RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Eclipse Gray/2.6 Kg) FX766HE-HX022T']

In [54]:
ratings_tags=driver.find_elements_by_xpath("//i[@class='a-icon a-icon-star a-star-4']/span")
ratings_tags[0:4]

for i in ratings_tags:
    rate=i.text
    ratings.append(rate)
ratings[0:4]

<ipython-input-54-1836c07343a5>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ratings_tags=driver.find_elements_by_xpath("//i[@class='a-icon a-icon-star a-star-4']/span")

['', '', '']

In [53]:
price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price_tags[0:4]

for i in price_tags:
    prc=i.text
    price.append(prc)
price[0:4]

<ipython-input-53-2cd6ebaa322b>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

['56,990', '1,24,000', '56,990', '1,13,990']

In [51]:
(len(titles),len(ratings),len(price))

(30, 3, 30)

In [56]:
#i skipped rating data 

Laptop=pd.DataFrame({})
Laptop['Title']=titles[0:10]
Laptop['Price']=price[0:10]

Laptop

                                               Title     Price
0  Mi Notebook Horizon Edition 14 Intel Core i7-1...    56,990
1  HP Envy Intel 11th Gen Core i7 Processor 13.3 ...  1,24,000
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...    56,990
3  ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...  1,13,990
4  Microsoft Surface Laptop Studio - 14.4" Touchs...  3,73,999
5  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...    84,990
6  Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...    95,890
7  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    85,990
8  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...    93,990
9  HP Pavilion 13(2021) 11th Gen Intel Core i7 13...    89,700

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location.
You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps: 
    
1. First get the webpage https://www.ambitionbox.com/

2. Click on the Job option as shown in the image 

3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter 
“Data Scientist” and click on search button. 

4. You will reach to the following web page click on location and in place of “Search location” enter 
“Noida” and select location “Noida”. 

5. Then scrape the data for the first 10 jobs results you get on the above shown page. 

6. Finally create a dataframe of the scraped data.

In [57]:
import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")
driver.get('https://www.ambitionbox.com/')

<ipython-input-57-1d2f8f1ab235>:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")

In [58]:
click_jobs=driver.find_element_by_xpath('//*[@id="headerWrapper"]/nav/nav/a[6]')
click_jobs.click()

<ipython-input-58-3a4a1e20f990>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  click_jobs=driver.find_element_by_xpath('//*[@id="headerWrapper"]/nav/nav/a[6]')

In [59]:
search=driver.find_element_by_xpath('//*[@id="jobs-typeahead"]/span/input')
search.click()

search.send_keys("Data Scientist")

<ipython-input-59-38209160f002>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_xpath('//*[@id="jobs-typeahead"]/span/input')

In [60]:
search_button=driver.find_element_by_xpath('//*[@id="jobSearchPage"]/div[2]/div/div/div/div/button')
search_button.click()

<ipython-input-60-c08f69790ae9>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_button=driver.find_element_by_xpath('//*[@id="jobSearchPage"]/div[2]/div/div/div/div/button')

In [61]:
target_location=driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[1]/p')
target_location.click()

<ipython-input-61-a60062029298>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  target_location=driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[1]/p')

In [62]:
search_location=driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[2]/input')
search_location.click()

search_location.send_keys("Noida")

<ipython-input-62-d11d7debf735>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_location=driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[2]/input')

In [63]:
select_noida=driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
select_noida.click()

<ipython-input-63-5f50be791db9>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  select_noida=driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')

In [64]:
url="https://www.ambitionbox.com/jobs/search?tag=Data%20Scientist&location=Noida"

driver.get(url)


company_names=[]
No_of_days=[]
ratings=[]

In [65]:
companies_tags=driver.find_elements_by_xpath("//p[@class='company body-medium']")
companies_tags[0:4]

for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:4]

No_of_days_tags=driver.find_elements_by_xpath("//span[@class='body-small-l']")
No_of_days_tags[0:4]

for i in No_of_days_tags:
    days=i.text
    No_of_days.append(days)
No_of_days[0:4]

ratings_tags=driver.find_elements_by_xpath("//span[@class='body-small']")
ratings_tags[0:4]

for i in ratings_tags:
    rate=i.text
    ratings.append(rate)
ratings[0:4]

(len(company_names),len(No_of_days),len(ratings))

jobs=pd.DataFrame({})
jobs['Company Names']=company_names[0:10]
jobs['No.of Days ago when Job was Posted']=No_of_days[0:10]
jobs['Ratings']=ratings[0:10]

jobs

<ipython-input-65-9c976f2f14e4>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  companies_tags=driver.find_elements_by_xpath("//p[@class='company body-medium']")
<ipython-input-65-9c976f2f14e4>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  No_of_days_tags=driver.find_elements_by_xpath("//span[@class='body-small-l']")
<ipython-input-65-9c976f2f14e4>:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ratings_tags=driver.find_elements_by_xpath("//span[@class='body-small']")

,Company Names,No.of Days ago when Job was Posted,Ratings
0,Optum Global Solutions (India) Private Limited,12d ago,4.1
1,Steria India Ltd,via naukri.com,4.1
2,Ameriprise Financial,5d ago,4.1
3,Jubilant Foodworks Limited,via naukri.com,3.9
4,Steria India Ltd,7d ago,4.1
5,Steria India Ltd,via naukri.com,4.1
6,HCL Technologies Limited,4d ago,3.8
7,GI Group,via hirist.com,3.9
8,Zyoin,24d ago,4.2
9,GI Group,via naukri.com,3.9

Q10: Write a python program to scrape the salary data for Data Scientist designation. 
    
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary. 
The above task will be, done as shown in the below steps:
    
1. First get the webpage https://www.ambitionbox.com/
    
2. Click on the salaries option as shown in the image.

3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and 
then click on “Data Scientist”.

You have to scrape the data ticked in the above image. 

4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average 
salary, minimum salary, maximum salary, experience required. 

5. Store the data in a dataframe.

In [66]:
import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")
driver.get('https://www.ambitionbox.com/')

<ipython-input-66-1d2f8f1ab235>:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")

In [67]:
click_salaries=driver.find_element_by_xpath('//*[@id="headerWrapper"]/nav/nav/a[4]')
click_salaries.click()

search=driver.find_element_by_xpath('//*[@id="fixed-typeahead"]/div/div/div[1]/span/input')
search.click()

search.send_keys("Data Scientist")

search_button=driver.find_element_by_xpath('//*[@id="fixed-typeahead"]/div/div/button')
search_button.click()

<ipython-input-67-e902d6d1c25a>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  click_salaries=driver.find_element_by_xpath('//*[@id="headerWrapper"]/nav/nav/a[4]')
<ipython-input-67-e902d6d1c25a>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_xpath('//*[@id="fixed-typeahead"]/div/div/div[1]/span/input')
<ipython-input-67-e902d6d1c25a>:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_button=driver.find_element_by_xpath('//*[@id="fixed-typeahead"]/div/div/button')

In [68]:
click_salaries=driver.find_element_by_xpath('//*[@id="headerWrapper"]/nav/nav/a[4]')
click_salaries.click()

search=driver.find_element_by_xpath('//*[@id="jobProfileSearchbox"]')
search.click()

search.send_keys("Data Scientist")
search.click()

<ipython-input-68-9f8a99f30a54>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  click_salaries=driver.find_element_by_xpath('//*[@id="headerWrapper"]/nav/nav/a[4]')
<ipython-input-68-9f8a99f30a54>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_xpath('//*[@id="jobProfileSearchbox"]')

In [69]:
url="https://www.ambitionbox.com/salaries"

driver.get(url)


company_names=[]
No_of_salaries=[]
av_salary=[]
min_salary=[]
max_salary=[]

In [81]:
companies_tags=driver.find_elements_by_xpath("//div[@class='data-v-2bae05f7']/a")
companies_tags[0:4]

for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:4]

<ipython-input-81-ec6f42047a2a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  companies_tags=driver.find_elements_by_xpath("//div[@class='data-v-2bae05f7']/a")

['Ab Inbev']

In [78]:
salary_tags=driver.find_elements_by_xpath("//span[@class='data-v-2bae05f7']")
salary_tags[0:4]

for i in salary_tags:
    salary=i.text
    No_of_salaries.append(salary)
No_of_salaries[0:4]

<ipython-input-78-11371dd20fc8>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  salary_tags=driver.find_elements_by_xpath("//span[@class='data-v-2bae05f7']")

[]

In [82]:
av_sl_tags=driver.find_elements_by_xpath("//p[@class='averageCtc7']")
av_sl_tags[0:4]

for i in av_sl_tags:
    av_sl=i.text
    av_salary.append(av_sl)
av_salary[0:4]

<ipython-input-82-dc2716229c04>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  av_sl_tags=driver.find_elements_by_xpath("//p[@class='averageCtc7']")

[]

In [88]:
min_sl_tags=driver.find_elements_by_xpath("//div[@class='data-v-2bf6feb2']")
min_sl_tags[0:4]

for i in min_sl_tags:
    min_sl=i.text
    min_salary.append(min_sl)
min_salary[0:4]

<ipython-input-88-c450f2c7a777>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  min_sl_tags=driver.find_elements_by_xpath("//div[@class='data-v-2bf6feb2']")

[]

In [87]:
max_sl_tags=driver.find_elements_by_xpath("//div[@class='data-v-2bf6feb2']")
max_sl_tags[0:4]

for i in max_sl_tags:
    max_sl=i.text
    max_salary.append(av_sl)
max_salary[0:4]

<ipython-input-87-ef767240630a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  max_sl_tags=driver.find_elements_by_xpath("//div[@class='data-v-2bf6feb2']")

[]

In [ ]:
company_names=[]
No_of_salaries=[]
av_salary=[]
min_salary=[]
max_salary=[]

(len(company_names),len(No_of_salaries),len(av_salary),len(min_salary),len(max_salary))

jobs=pd.DataFrame({})
jobs['Company Names']=company_names[0:10]
jobs['No_of_salary']=No_of_salaries[0:10]
jobs['Average_salary']=av_salary[0:10]
jobs['Maximum_salary']=max_salary[0:10]
jobs['Minimum_salary']=min_salary[0:10]

jobs